<div class="dish-card">
<ul>
  <li><a href=""> Regex Characters</a>   </li>
  <li><a href="">Escape Sequences (\char) </a>  </li>
  <li><a href="">A Sequence of Characters (or String) </a>  </li>
  <li><a href="">OR Operator (|) </a>  </li>
  <li><a href="">Character class (or Bracket List) </a>  </li>
  <li><a href=""> Occurrence Indicators (or Repetition Operators)</a>  </li>
  <li><a href="">Metacharacters </a>  </li>
  <li><a href="">Position Anchors  </a> </li>
  <li><a href="">Parenthesized Back References </a>  </li>
  <li><a href="">Laziness (Curb Greediness for Repetition Operators) </a>  </li>
</ul>
</div>