<h2>Character class </h2>

<h3 class="section" id="Character-Classes-and-Bracket-Expressions-1"><span>3.2 Character Classes and Bracket Expressions<a class="copiable-link" href="#Character-Classes-and-Bracket-Expressions-1"> &para;</a></span></h3>

<a class="index-entry-id" id="index-bracket-expression"></a>
<a class="index-entry-id" id="index-character-class"></a>
<p>A <em class="dfn">bracket expression</em> is a list of characters enclosed by &lsquo;<samp class="samp">[</samp>&rsquo; and
&lsquo;<samp class="samp">]</samp>&rsquo;.
It matches any single character in that list.
If the first character of the list is the caret &lsquo;<samp class="samp">^</samp>&rsquo;,
then it matches any character <strong class="strong">not</strong> in the list,
and it is unspecified whether it matches an encoding error.
For example, the regular expression
&lsquo;<samp class="samp">[0123456789]</samp>&rsquo; matches any single digit,
whereas &lsquo;<samp class="samp">[^()]</samp>&rsquo; matches any single character that is not
an opening or closing parenthesis, and might or might not match an
encoding error.
</p>
<a class="index-entry-id" id="index-range-expression"></a>
<p>Within a bracket expression, a <em class="dfn">range expression</em> consists of two
characters separated by a hyphen.
It matches any single character that
sorts between the two characters, inclusive.
In the default C locale, the sorting sequence is the native character
order; for example, &lsquo;<samp class="samp">[a-d]</samp>&rsquo; is equivalent to &lsquo;<samp class="samp">[abcd]</samp>&rsquo;.
In other locales, the sorting sequence is not specified, and
&lsquo;<samp class="samp">[a-d]</samp>&rsquo; might be equivalent to &lsquo;<samp class="samp">[abcd]</samp>&rsquo; or to
&lsquo;<samp class="samp">[aBbCcDd]</samp>&rsquo;, or it might fail to match any character, or the set of
characters that it matches might be erratic, or it might be invalid.
To obtain the traditional interpretation
of bracket expressions, you can use the &lsquo;<samp class="samp">C</samp>&rsquo; locale by setting the
<code class="env">LC_ALL</code> environment variable to the value &lsquo;<samp class="samp">C</samp>&rsquo;.
</p>
<p>Finally, certain named classes of characters are predefined within
bracket expressions, as follows.
Their interpretation depends on the <code class="env">LC_CTYPE</code> locale;
for example, &lsquo;<samp class="samp">[[:alnum:]]</samp>&rsquo; means the character class of numbers and letters
in the current locale.
</p>
<a class="index-entry-id" id="index-classes-of-characters"></a>
<a class="index-entry-id" id="index-character-classes"></a>
<dl class="table">
<dt>&lsquo;<samp class="samp">[:alnum:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-alnum-character-class"></a>
<a class="index-entry-id" id="index-alphanumeric-characters"></a>
<p>Alphanumeric characters:
&lsquo;<samp class="samp">[:alpha:]</samp>&rsquo; and &lsquo;<samp class="samp">[:digit:]</samp>&rsquo;; in the &lsquo;<samp class="samp">C</samp>&rsquo; locale and ASCII
character encoding, this is the same as &lsquo;<samp class="samp">[0-9A-Za-z]</samp>&rsquo;.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:alpha:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-alpha-character-class"></a>
<a class="index-entry-id" id="index-alphabetic-characters"></a>
<p>Alphabetic characters:
&lsquo;<samp class="samp">[:lower:]</samp>&rsquo; and &lsquo;<samp class="samp">[:upper:]</samp>&rsquo;; in the &lsquo;<samp class="samp">C</samp>&rsquo; locale and ASCII
character encoding, this is the same as &lsquo;<samp class="samp">[A-Za-z]</samp>&rsquo;.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:blank:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-blank-character-class"></a>
<a class="index-entry-id" id="index-blank-characters"></a>
<p>Blank characters:
space and tab.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:cntrl:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-cntrl-character-class"></a>
<a class="index-entry-id" id="index-control-characters"></a>
<p>Control characters.
In ASCII, these characters have octal codes 000
through 037, and 177 (DEL).
In other character sets, these are
the equivalent characters, if any.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:digit:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-digit-character-class"></a>
<a class="index-entry-id" id="index-digit-characters"></a>
<a class="index-entry-id" id="index-numeric-characters"></a>
<p>Digits: <code class="code">0 1 2 3 4 5 6 7 8 9</code>.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:graph:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-graph-character-class"></a>
<a class="index-entry-id" id="index-graphic-characters"></a>
<p>Graphical characters:
&lsquo;<samp class="samp">[:alnum:]</samp>&rsquo; and &lsquo;<samp class="samp">[:punct:]</samp>&rsquo;.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:lower:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-lower-character-class"></a>
<a class="index-entry-id" id="index-lower_002dcase-letters"></a>
<p>Lower-case letters; in the &lsquo;<samp class="samp">C</samp>&rsquo; locale and ASCII character
encoding, this is
<code class="code">a b c d e f g h i j k l m n o p q r s t u v w x y z</code>.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:print:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-print-character-class"></a>
<a class="index-entry-id" id="index-printable-characters"></a>
<p>Printable characters:
&lsquo;<samp class="samp">[:alnum:]</samp>&rsquo;, &lsquo;<samp class="samp">[:punct:]</samp>&rsquo;, and space.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:punct:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-punct-character-class"></a>
<a class="index-entry-id" id="index-punctuation-characters"></a>
<p>Punctuation characters; in the &lsquo;<samp class="samp">C</samp>&rsquo; locale and ASCII character
encoding, this is
<code class="code">! &quot; # $ % &amp; ' ( ) * + , - . / : ; &lt; = &gt; ? @ [ \ ] ^ _ ` { | } ~</code>.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:space:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-space-character-class"></a>
<a class="index-entry-id" id="index-space-characters"></a>
<a class="index-entry-id" id="index-whitespace-characters"></a>
<p>Space characters: in the &lsquo;<samp class="samp">C</samp>&rsquo; locale, this is
tab, newline, vertical tab, form feed, carriage return, and space.
See <a class="xref" href="Usage.html">Usage</a>, for more discussion of matching newlines.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:upper:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-upper-character-class"></a>
<a class="index-entry-id" id="index-upper_002dcase-letters"></a>
<p>Upper-case letters: in the &lsquo;<samp class="samp">C</samp>&rsquo; locale and ASCII character
encoding, this is
<code class="code">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</code>.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:xdigit:]</samp>&rsquo;</dt>
<dd><a class="index-entry-id" id="index-xdigit-character-class"></a>
<a class="index-entry-id" id="index-xdigit-class"></a>
<a class="index-entry-id" id="index-hexadecimal-digits"></a>
<p>Hexadecimal digits:
<code class="code">0 1 2 3 4 5 6 7 8 9 A B C D E F a b c d e f</code>.
</p>
</dd>
</dl>
<p>Note that the brackets in these class names are
part of the symbolic names, and must be included in addition to
the brackets delimiting the bracket expression.
</p>
<p>If you mistakenly omit the outer brackets, and search for say, &lsquo;<samp class="samp">[:upper:]</samp>&rsquo;,
GNU <code class="command">grep</code> prints a diagnostic and exits with status 2, on
the assumption that you did not intend to search for the
regular expression &lsquo;<samp class="samp">[:epru]</samp>&rsquo;.
</p>
<p>Special characters lose their special meaning inside bracket expressions.
</p>
<dl class="table">
<dt>&lsquo;<samp class="samp">]</samp>&rsquo;</dt>
<dd><p>ends the bracket expression if it&rsquo;s not the first list item.
So, if you want to make the &lsquo;<samp class="samp">]</samp>&rsquo; character a list item,
you must put it first.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[.</samp>&rsquo;</dt>
<dd><p>represents the open collating symbol.
</p>
</dd>
<dt>&lsquo;<samp class="samp">.]</samp>&rsquo;</dt>
<dd><p>represents the close collating symbol.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[=</samp>&rsquo;</dt>
<dd><p>represents the open equivalence class.
</p>
</dd>
<dt>&lsquo;<samp class="samp">=]</samp>&rsquo;</dt>
<dd><p>represents the close equivalence class.
</p>
</dd>
<dt>&lsquo;<samp class="samp">[:</samp>&rsquo;</dt>
<dd><p>represents the open character class symbol, and should be followed by a
valid character class name.
</p>
</dd>
<dt>&lsquo;<samp class="samp">:]</samp>&rsquo;</dt>
<dd><p>represents the close character class symbol.
</p>
</dd>
<dt>&lsquo;<samp class="samp">-</samp>&rsquo;</dt>
<dd><p>represents the range if it&rsquo;s not first or last in a list or the ending point
of a range.  To make the &lsquo;<samp class="samp">-</samp>&rsquo; a list item, it is best to put it last.
</p>
</dd>
<dt>&lsquo;<samp class="samp">^</samp>&rsquo;</dt>
<dd><p>represents the characters not in the list.
If you want to make the &lsquo;<samp class="samp">^</samp>&rsquo;
character a list item, place it anywhere but first.
</p>
</dd>
</dl>

</div>
<hr>
<div class="nav-panel">
<p>
Next: <a href="Special-Backslash-Expressions.html">Special Backslash Expressions</a>, Previous: <a href="Fundamental-Structure.html">Fundamental Structure</a>, Up: <a href="Regular-Expressions.html">Regular Expressions</a> &nbsp; [<a href="index.html#SEC_Contents" title="Table of contents" rel="contents">Contents</a>][<a href="Index.html" title="Index" rel="index">Index</a>]</p>
</div>

