<section class="section-body">

<h2>Escape Sequences (\char)</h2>

        
        <p class="a_Body">An escape sequence is a set of characters used to insert into a string certain special characters—such as tabs, carriage returns and quotation marks. Escape sequences in InstallScript are very much like those in C. They begin with a backslash, called an escape character, and the backslash is followed by one or more characters that have special meaning. If the backslash is followed by characters other than those used in an escape sequence, the backslash is ignored.</p>
        <p class="sh1_Subheading1">Inserting a Newline Character Into a String</p>
        <p class="a_Body">A commonly used escape sequence is \n, which inserts a newline character into a string. The string “This is line one, This is line two.” is displayed or printed on a single line. However, the string “This is line one,\nThis is line two.” is displayed or printed as shown below:</p>
        <p class="cof_Code_First">This is line one, </p>
        <p class="co_Code">This is line two.</p>
        <p class="nop_Note_Paragraph">The percent sign (%) also has a special function in InstallScript; it is used as the first character of a format specifier, which is a sequence of characters that is used with functions such as <a class="MCXref_GeneralCrossRef_0" href="LangrefSprintf.htm#langref_appendixe_619625896_1030104"><span style="color: #0000ff;" class="mcFormatColor">Sprintf</span></a> and SprintBox to indicate how the value stored in a variable should be displayed on screen.</p>
        <p class="sh1_Subheading1">Supported Escape Sequences</p>
        <p class="a_Body">The following table lists the escape sequences that are supported by InstallScript:</p>
       
       
        <table class="table-looks" >
            <caption valign="top" style="padding-bottom: 8pt;">
                <p class="tt_Table_Title">Supported Escape Sequences</p>
            </caption>
            <col width="177px" />
            <col width="434px" />
            <thead>
                <tr>
                    <td class="TableStyle_Table_in_Body_Head_0_0_RowSep_ColSep">
                        <p class="th_Table_Header">Escape Sequence</p>
                    </td>
                    <td class="TableStyle_Table_in_Body_Head_0_0_RowSep_ColEnd">
                        <p class="th_Table_Header">Performs the Following Action</p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="TableStyle_Table_in_Body_Body_0_0_ColSep">
                        <p class="tk_Table_Key_Column">\n</p>
                    </td>
                    <td class="TableStyle_Table_in_Body_Body_0_0_ColEnd">
                        <p class="ta_Table_Body">Inserts a line feed.</p>
                    </td>
                </tr>
                <tr>
                    <td class="TableStyle_Table_in_Body_Body_0_0_RowSep_ColSep">
                        <p class="tk_Table_Key_Column">\'</p>
                    </td>
                    <td class="TableStyle_Table_in_Body_Body_0_0_RowSep_ColEnd">
                        <p class="ta_Table_Body">Inserts a single quotation mark in the string.</p>
                    </td>
                </tr>
                <tr>
                    <td class="TableStyle_Table_in_Body_Body_1_0_ColSep">
                        <p class="tk_Table_Key_Column">\"</p>
                    </td>
                    <td class="TableStyle_Table_in_Body_Body_1_0_ColEnd">
                        <p class="ta_Table_Body">Inserts a double quotation mark in the string.</p>
                    </td>
                </tr>
                <tr>
                    <td class="TableStyle_Table_in_Body_Body_1_0_RowSep_ColSep">
                        <p class="tk_Table_Key_Column">\r</p>
                    </td>
                    <td class="TableStyle_Table_in_Body_Body_1_0_RowSep_ColEnd">
                        <p class="ta_Table_Body">Inserts a carriage return only. Does not insert a line feed.</p>
                    </td>
                </tr>
                <tr>
                    <td class="TableStyle_Table_in_Body_Body_0_0_ColSep">
                        <p class="tk_Table_Key_Column">\t</p>
                    </td>
                    <td class="TableStyle_Table_in_Body_Body_0_0_ColEnd">
                        <p class="ta_Table_Body">Inserts a tab character.</p>
                    </td>
                </tr>
                <tr>
                    <td class="TableStyle_Table_in_Body_Body_0_0_RowSep_ColSep">
                        <p class="tk_Table_Key_Column">\ooo</p>
                    </td>
                    <td class="TableStyle_Table_in_Body_Body_0_0_RowSep_ColEnd">
                        <p class="ta_Table_Body">Indicates an ASCII character—not an integer—in octal notation.</p>
                    </td>
                </tr>
                <tr>
                    <td class="TableStyle_Table_in_Body_Body_1_0_RowEnd_ColSep">
                        <p class="tk_Table_Key_Column">\\</p>
                    </td>
                    <td class="TableStyle_Table_in_Body_Body_1_0_RowEnd_ColEnd">
                        <p class="ta_Table_Body">Inserts a backslash.</p>
                    </td>
                </tr>
            </tbody>
        </table>

<link rel="stylesheet" href="css/table.css">
</section>