<div class="container text-center body">
    <div class="row align-items-start">
        <tr class="table-primary">
            <div class="col border-5 rounded-top-4 border border-success p-2 mb-2 contents">
                <h1>Regular expressions</h1>
                <p>A regular expression (regex for short) allow developers to match strings against a pattern, extract
                    submatch information, or simply test if the string conforms to that pattern. Regular expressions are
                    used in many programming languages, and JavaScript's syntax is inspired by Perl</p>
                <p>You are encouraged to read the regular expressions guide to get an overview of the available regex
                    syntaxes and how they work.</p>

                    <img src="./../public/img/home.jpg" alt="">

            </div>
        </tr>
    </div>
     <link rel="stylesheet" href="css/tutor.css">
</div>