<section class="section-body">




<h2 id="specialcharacters">Characters</h2>
<p>Special characters take us a step further into writing more advanced pattern expressions:</p>
<ul>
<li><code>+</code>: One or more quantifiers (preceding character must exist and can be optionally duplicated). For example, the expression <code>c+at</code> will match “cat”, “ccat” and “ccccccccat”. You can repeat the preceding character as many times as you like and you’ll still get a match.</li>
<li><code>?</code>: Zero or one quantifier (preceding character is optional). For example, the expression <code>c?at</code> will only match “cat” or “at”.</li>
<li><code>*</code>: Zero or more quantifier (preceding character is optional and can be optionally duplicated). For example, the expression <code>c*at</code> will match “at”, “cat” and “ccccccat”. It’s like the combination of <code>+</code> and <code>?</code>.</li>
<li><code>\</code>: this “escape character” is used when we want to use a special character literally. For example, <code>c\*</code> will exactly match “c*” and not “ccccccc”.</li>
<li><code>[^]</code>: this “negate” notation is used to indicate a character that should not be matched within a range. For example, the expression <code>b[^a-c]ld</code> will not match “bald” or “bbld” because the second letters a to c are negative. However, the pattern will match “beld”, “bild”, “bold” and so forth.</li>
<li><code>.</code>: this “do” notation will match any digit, letter or symbol except newline. For example, <code>.{8}</code> will match a an eight-character password consisting of letters, numbers and symbols. for example, “password” and “P@ssw0rd” will both match.</li>
</ul>
<p>From what we’ve learned so far, we can create an interesting variety of compact but powerful regular expressions. For example:</p>
<ul>
<li><code>.+</code> matches one or an unlimited number of characters. For example, “c” , “cc” and “bcd#.670” will all match.</li>
<li><code>[a-z]+</code> will match all lowercase letter words irrespective of length, as long as they contain at least one letter. For example, “book” and “boardroom” will both match.</li>
</ul>
</section>