
<H1 class="table-content"> <u> Table of Contents</u></H1>
<div class="table-container ">
  <a href="RegexCharacters" class="list-group-item list-group-item-action " aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Characters</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>All characters, except those having special meaning in regex, matches themselves. E.g., the regex x matches substring "x"; regex 9 matches "9"; regex = matches "="; and regex @ matches "@"..</small>
  </a>

  <a href="EscapeSequences" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Escape Sequences</h5>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <p class="mb-1">Escape sequences are typically used to specify actions.</p>
    <small class="text-body-secondary">Character combinations consisting of a backslash (\) followed by a letter or by a combination of digits are called "escape sequences." To represent a newline character, single quotation mark, or certain other characters in a character constant, you must use escape sequences.</small>
  </a>

  <a href="SequenceOfCharacters" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">A Sequence of Characters (or String) </h5>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <p class="mb-1">a sequence of characters from the source character set enclosed in double quotation marks ( " " ). </p>
    <small class="text-body-secondary">Strings can be matched via combining a sequence of characters (called sub-expressions).</small>
  </a>

  {{!-- <a href="OROperator" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">OR Operator (|)</h5>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <p class="mb-1">Alternatives match one of a choice of regular expressions </p>
    <small class="text-body-secondary">the regex four|4 accepts strings "four" or "4".</small>
  </a> --}}

  <a href="CharacterClass" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Character class (or Bracket List)</h5>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <p class="mb-1">Within a bracket expression, a range expression consists of two characters separated by a hyphen.</p>
    <small class="text-body-secondary">A bracket expression is a list of characters enclosed by ‘[’ and ‘]’. It matches any single character in that list</small>
  </a>

  <a href="OccurrenceIndicators" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Occurrence Indicators (or Repetition Operators)</h5>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <p class="mb-1">In this case, [0-9]+ matches one or more digits</p>
    <small class="text-body-secondary">indicates one or more occurrences ( 1+ ) of the previous sub-expression.</small>
  </a>

  <a href="Metacharacters" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Metacharacters</h5>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <p class="mb-1">matches a character.</p>
    <small class="text-body-secondary">a character that has a special meaning to a computer program.</small>
  </a>

  <a href="ParenthesizedBackReferences" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Parenthesized Back References</h5>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <p class="mb-1">Use parentheses ( ) to create a back reference.</p>
    <small class="text-body-secondary">It is  like \1 or \2 matches the string matched by a previous parenthesized expression.</small>
  </a>

  {{!-- <a href="Laziness" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Laziness (Curb Greediness for Repetition Operators)</h5>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small class="text-body-secondary">And some muted small print.</small>
  </a>
</div> --}}
<link rel="stylesheet" href="css/table.css">
